{% extends 'admin.html.twig' %}

{% block title %}Taille index{% endblock %}

{% block controller %}
    <h1>Taille index</h1>

    <table class="table margin-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Taille</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for taille in tailles %}
            <tr>
                <td>{{ taille.id }}</td>
                <td>{{ taille.taille }}</td>
                <td class="flex gape-10">
                    <a href="{{ path('app_taille_edit', {'id': taille.id}) }}">edit</a>
                    {{ include('taille/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_taille_new') }}">Create new</a>
{% endblock %}
