{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="formulaire_login flex justify-center align-center">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="form-container">
                <p class="title">Connexion</p>
                    <div class="input-group">
                        <label for="username">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="_username" placeholder="Adresse mail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" placeholder="Mot de passe" class="form-control" autocomplete="current-password" required>
                        <div class="forgot">
                        </div>
                    </div>
                    <button class="sign" type="submit">Sign in</button>

                <div class="social-message">
                    <div class="line"></div>
                    <p class="message">Connectez vous a notre plateforme</p>
                    <div class="line"></div>
                </div>

                <p class="signup">Si vous n'avez pas de compte c'est ici !
                    <a rel="noopener noreferrer" href="{{ path('app_user_new') }}" class="">Inscription</a>
                </p>
            </div>

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

        </form>
    </section>
{% endblock %}
