{% extends 'admin.html.twig' %}

{% block title %}Couleur index{% endblock %}

{% block controller %}
    <h1>Couleur index</h1>

    <table class="table margin-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couleur in couleurs %}
            <tr>
                <td>{{ couleur.id }}</td>
                <td>{{ couleur.color }}</td>
                <td class="flex gape-10">
                    <a href="{{ path('app_couleur_edit', {'id': couleur.id}) }}">edit</a>
                    {{ include('couleur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_couleur_new') }}">Create new</a>
{% endblock %}
