{% extends 'admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block controller %}
    <h1>Category index</h1>

    <table class="table margin-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.type }}</td>
                <td class="flex gape-10">
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
