<div class="form_global">
    {{ form_start(form) }}
    <div class="flex gape-10 flex_column">
        <div class="rating">
            {{ form_widget(form.note) }}
        </div>
        <label class="description_form">
            <p>Commentaire</p>
            {{ form_widget(form.commentaire, { 'attr': {'class': 'commentaire_form', 'placeholder': ''} }) }}
        </label>        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
</div>

