{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h3><a href="{{ path('app_basket_index') }}">Gestion des Baskets</a></h3>
        <h3><a href="{{ path('app_category_index') }}">Gestion des Catégories</a></h3>
        <h3><a href="{{ path('app_taille_index') }}">Gestion des Tailles</a></h3>
        <h3><a href="{{ path('app_couleur_index') }}">Gestion des Couleurs</a></h3>
        <h3><a href="{{ path('app_user_index') }}">Gestion des Users</a></h3>
        <h3><a href="{{ path('app_commentaire_index') }}">Gestion des Commentaires</a></h3>
        <h3><a href="{{ path('app_panier_index') }}">Gestion des Paniers</a></h3>
    </div>
{% endblock %}