<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/affichagecrud.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{{ asset('js/main.js') }}" defer></script>

        {% block stylesheets %}
        {% endblock %}

        <script>



        </script>

    </head>
    <body id="root">
    <nav class="flex align-center">
        <div class="flex gape-10 logo align-center">
            <img class="logo" src="{{ asset('media/Nike-logo.png') }}" alt="logo nike">
            {#<p>Nooke</p>#}
        </div>
        <div class="flex gape-50">
            <a href="{{ path('home') }}">Accueil</a>
            <div class="dropdown">
                <p>Nos Chaussures </p>
                <div class="dropdown_content">
                    <a href="{{ path('baskets') }}">Toutes les chaussures</a>
                    <div class="flex categories">
                        {% for category in categories %}
                            <a href="{{ path('categorie', {id:category.id}) }}">{{ category.type }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">Administration</a>

            {% endif %}

        </div>
        <div class="flex gape-50 connection">

            {% if app.user %}
                <div class="dropdown">
                    <p class="dropdown-toggle">Mon Compte <strong>{{ app.user.pseudo }}</strong></p>
                    <div class="dropdown_content">
                        <ul>
                            <li><a href="{{ path('app_user_edit', {id:app.user.id}) }}">Modifier mon compte</a></li>
                            <li><a href="{{ path('app_logout') }}">Déconnecter</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a class="flex align-center" href="{{ path('app_login') }}"><i class="bi bi-person-fill"></i>Connection</a>
            {% endif %}
            <a class="flex align-center gape-10" href="{{ path('panier') }}"><i class="bi bi-cart"></i>Panier( {{ panierLength }} )</a>
        </div>

    </nav>
<main>
    {% block body %}

    {% endblock %}
</main>
    <footer class="justify-center align-center">
        <div class="information_footer">
            <ul>
                <h5>Informations</h5>
                <li>Mentions Légals</li>
                <li>Conditions d'utilisations</li>
                <li>A propos</li>
            </ul>
        </div>
        <div class="">
            <h5>Rester chez nous</h5>
            <button class="btn-12"><span><a href="{{ path('app_register') }}">Je m'inscrit</a></span></button>
        </div>
        <div class="reseau_sociaux">
            <h5>Réseaux sociaux</h5>
            <div class="flex gape-50 justify-center">
                <p><a href="#"><i class="bi bi-instagram"></i></a></p>
                <p><a href="#"><i class="bi bi-facebook"></i></a></p>
                <p><a href="#"><i class="bi bi-twitter-x"></i></a></p>
                <p><a href="#"><i class="bi bi-tiktok"></i></a></p>

            </div>

        </div>
    </footer>
    {#
    <script src="{{ asset('node_modules/toastify-js/src/toastify.js') }}"></script>
    #}


    </body>
</html>
