    {% extends 'base.html.twig' %}
    {% block body %}

        <h2 class="nombre_basket">Chaussures pour Hommes : ({{ baskets|length }})</h2>
        <div class="block flex gape-50">
            <aside>
                <div class="categorie_basket flex gape-10">
                    <h4>Catégories disponibles :</h4>
                {% for category in categories %}
                    <a href="{{ path('categorie', {id:category.id}) }}">{{ category.type }}</a>
                {% endfor %}
                </div>
                <div class="categorie_basket flex gape-10">
                    <h4>Tailles disponibles :</h4>
                    <div class="all_tailles">
                        {% for taille in tailles %}
                                <button class="taille"><a href="{{ path('baskets_taille', {'tailleId': taille.id}) }}">{{ taille.taille }}</a></button>
                        {% endfor %}
                    </div>
                </div>
                <div class="categorie_basket flex gape-10">
                    <h4 id="toggle">Couleurs disponibles :</h4>
                    <div class="all_couleurs flex justify-center">
                        {% for couleur in couleurs %}
                        <div class="couleur flex align-center justify-center">
                            <a href="{{ path('baskets_couleur', {'couleurId': couleur.id}) }}">
                            <div class="rond_color" style="background-color: {{ couleur.color }}"></div>
                            <p class="couleur-nom">{{ couleur.color }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        <section class="article_basket">
            {% for basket in baskets %}
    {#                 {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_basket_edit', {'id': basket.id}) }}">edit</a>
                    {% endif %} #}
                <a class="basket" href="{{ path('basket', {id:basket.id}) }}">
                    <img class="image_baskets" src="{{ asset('uploads/'~basket.photo) }}" alt="{{ basket.nom }}">
                    <div class="info_basket">
                        <h5>{{ basket.nom }}</h5>
                        <p>{{ basket.couleurs|length }} couleurs</p>
                        <p class="prix">{{ basket.prix }} €</p>

                    </div>

                </a>

        {% endfor %}
        </section>
        </div>
    {% endblock %}