{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex article_seul justify-center align-center">
        <div class="flex gape-10 block_image">
            <div class="image_vignette flex">
                <img id="image_petite1" class="petite_image" src="{{ asset('uploads/'~basket.photo) }}" alt="{{ basket.nom }}">
                <img id="image_petite2" class="petite_image" src="{{ asset('uploads/'~basket.photo2) }}" alt="{{ basket.nom }}">
                <img id="image_petite3" class="petite_image" src="{{ asset('uploads/'~basket.photo3) }}" alt="{{ basket.nom }}">
                <img id="image_petite4" class="petite_image" src="{{ asset('uploads/'~basket.photo4) }}" alt="{{ basket.nom }}">
            </div>
            <div class="grande_image">
                <div id="image_seul1" class="image_container grande1">
                    <img  class="image_seul" src="{{ asset('uploads/'~basket.photo) }}" alt="{{ basket.nom }}">
                </div>
                <div id="image_seul2" class="image_container grande2">
                    <img class="image_seul" src="{{ asset('uploads/'~basket.photo2) }}" alt="{{ basket.nom }}">
                </div>
                <div id="image_seul3" class="image_container grande3">
                    <img class="image_seul" src="{{ asset('uploads/'~basket.photo3) }}" alt="{{ basket.nom }}">
                </div>
                <div id="image_seul4" class="image_container grande4">
                    <img class="image_seul" src="{{ asset('uploads/'~basket.photo4) }}" alt="{{ basket.nom }}">
                </div>
            </div>
        </div>
        <div class="details flex gape-10">
            <h2>{{ basket.nom }}</h2>
            <h4>{{ basket.soustitre }}</h4>
            <div class="flex gape-10">
                {% for couleur in basket.couleurs %}
                    <div class="rond_color" style="background-color: {{ couleur.color }}"></div>
                {% endfor %}

            </div>
            <p>{{ basket.description }}</p>
            <ul class="flex gape-10 align-center justify-center">
                {% for taille in basket.tailles %}
                    <li class="taille_seul">{{ taille.taille }}</li>
                {% endfor %}
            </ul>
            <form action="{{ path('add_to_cart', {'basketId': basket.id}) }}" method="post">
                <button id="add-to-cart" type="submit">Ajouter au panier</button>
            </form>

        </div>
    </div>
    <div>
        <h3>Commentaires ( {{ commentaire|length }} )</h3>

        <a href="{{ path('app_commentaire_new', {'basketId': basket.id}) }}">Ajouter un commentaire</a>
        {% for commentaire in commentaire %}
            <h5>{{ commentaire.user.pseudo }}</h5>
            {% set maxStars = 5 %}
            {% set rating = commentaire.note %}

            <div class="rating">
                {% for i in 1..maxStars %}
                    {% if i <= rating %}
                        <span class="star"><i class="bi bi-star-fill"></i></span>
                    {% else %}
                        <span class="star"><i class="bi bi-star"></i></span>
                    {% endif %}
                {% endfor %}
            </div>
            <p>{{ commentaire.commentaire }}</p>

        {% endfor %}
    </div>


{% endblock %}
