{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex article_seul justify-center align-center">
        <div class="flex gape-10 block_image">
            <div class="image_vignette flex">
                <img id="image_petite1" class="petite_image" src="{{ asset('uploads/'~basket.photo) }}" alt="{{ basket.nom }}">
                <img id="image_petite2" class="petite_image" src="{{ asset('uploads/'~basket.photo2) }}" alt="{{ basket.nom }}">
                <img id="image_petite3" class="petite_image" src="{{ asset('uploads/'~basket.photo3) }}" alt="{{ basket.nom }}">
                <img id="image_petite4" class="petite_image" src="{{ asset('uploads/'~basket.photo4) }}" alt="{{ basket.nom }}">
            </div>
            <div class="grande_image">
                <div id="image_seul1" class="image_container grande1">
                    <img  class="image_seul" src="{{ asset('uploads/'~basket.photo) }}" alt="{{ basket.nom }}">
                </div>
                <div id="image_seul2" class="image_container grande2">
                    <img class="image_seul" src="{{ asset('uploads/'~basket.photo2) }}" alt="{{ basket.nom }}">
                </div>
                <div id="image_seul3" class="image_container grande3">
                    <img class="image_seul" src="{{ asset('uploads/'~basket.photo3) }}" alt="{{ basket.nom }}">
                </div>
                <div id="image_seul4" class="image_container grande4">
                    <img class="image_seul" src="{{ asset('uploads/'~basket.photo4) }}" alt="{{ basket.nom }}">
                </div>
            </div>
        </div>
        <div class="details flex gape-10">
            <div class="titre_basket flex flex_column">
                <h2>{{ basket.nom }}</h2>
                <h4>{{ basket.soustitre }}</h4>
                <strong>{{ basket.prix }} €</strong>
                <form action="{{ path('add_panier', {id: basket.id}) }}" method="post">
                    <button class="CartBtn" id="add-to-cart" type="submit">
                    <span class="IconContainer">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="rgb(17, 17, 17)" class="cart"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path></svg>
                    </span>
                        <p class="text_card">Ajout panier</p>
                    </button>
                </form>
            </div>
            <div class="flex gape-10">
                {% for couleur in basket.couleurs %}
                    <div class="rond_color" style="background-color: {{ couleur.color }}"></div>
                {% endfor %}
            </div>
            <div class="all_tailles_seul flex align-center">
                    {% for taille in basket.tailles %}
                        <div class="taille_seul  flex align-center justify-center"><p>{{ taille.taille }}</p></div>
                    {% endfor %}
            </div>
            <p>{{ basket.description }}</p>



        </div>
    </div>
    <div class="commentaire">
        <h3>Commentaires ( {{ commentaire|length }} )</h3>
        {% if app.user is empty %}
        {% else %}
        <button class="cta">
            <a href="{{ path('app_commentaire_new', {'basketId': basket.id}) }}">
            <span class="hover-underline-animation"> Ajouter un commentaire </span>
            <svg
                    id="arrow-horizontal"
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="10"
                    viewBox="0 0 46 16"
            >
                <path
                        id="Path_10"
                        data-name="Path 10"
                        d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                        transform="translate(30)"
                ></path>
            </svg>
            </a>
        </button>
        {% endif %}

        <div class="flex flex_column align-center">
            {% for commentaire in commentaires %}
                <div class="commentaires flex">
                    <div class="commentaire_pseudo flex align-center">
                        <h5>{{ commentaire.user.pseudo }}</h5>
                        {% set maxStars = 5 %}
                        {% set rating = commentaire.note %}
                    </div>
                    <div class="commentaire_commentaire">
                        {% for i in 1..maxStars %}
                            {% if i <= rating %}
                                <span class="star"><i class="bi bi-star-fill"></i></span>
                            {% else %}
                                <span class="star"><i class="bi bi-star"></i></span>
                            {% endif %}
                        {% endfor %}
                        <p>{{ commentaire.commentaire }}</p>

                    </div>
                    <div>
                        {% if app.user == commentaire.user %}
                            <button><a href="{{ path('app_commentaire_edit', {id:commentaire.id}) }}">modifier</a></button>
                            <form method="post" action="{{ path('app_commentaire_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer votre commentaire ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
                                <button>Supprimer</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
