{% extends 'base.html.twig' %}

{% block body %}

    {% for like in likes %}
        {#                 {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_basket_edit', {'id': basket.id}) }}">edit</a>
                    {% endif %} #}
        <a class="basket" href="{{ path('basket', {id:like.basket.id}) }}">
            <img class="image_baskets" src="{{ asset('uploads/'~like.basket.photo) }}" alt="{{ like.basket.nom }}">
            <div class="info_basket">
                <h5>{{ like.basket.nom }}</h5>
                <p>{{ like.basket.couleurs|length }} couleurs</p>
                <p class="prix">{{ like.basket.prix }} €</p>
            </div>

        </a>

    {% endfor %}
{% endblock %}