{{ form_start(form) }}
    {{ form_widget(form) }}
{% if basket.photo %}
    <p>Photo actuelle : <img class="vignette" src="{{ asset('uploads/'~basket.photo) }}" alt="{{ basket.nom }}"></p>
    <p>Photo 2 actuelle : <img class="vignette" src="{{ asset('uploads/'~basket.photo2) }}" alt="{{ basket.nom }}"></p>
{% endif %}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
